.idea/
target/
out/
*.iml
*.ipr
*.iws
*.idea
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar.bz2
*.tar
*.rar
*.7z
*.bak
*.swp
*.swo
*.swn
*.swnc
*.swp
*.swx
*.tmp
*.log
*.lock
*.DS_Store
*.vscode
*.vscodeignore
*.vscode-settings.json
*.vscode-tasks.json